body {
    background: #f0f0f0;
}

.page-header {
    background-image: url('./images/okumono_chess40.png');
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
}

.image-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

img {
    width: 100%;
    height: 500px;
}